footer.main-footer
  section.meta
    p.p--small.meta__autor Oscar Braunert | <a href="https://www.ovlb.net" title="Website von Oscar"> www.ovlb.net</a>
    .github-icon.a--above__parent
      a.a--above(href="https://github.com/ovlb/etc.ovlb.net" title="GitHub Repository")
      svg.github-mark(xmlns="http://www.w3.org/2000/svg" viewBox="0 0 90.63 88.4")
        title GitHub Mark
        path.github-mark__path(d="M45.31,0A45.32,45.32,0,0,0,31,88.32c2.27.42,3.09-1,3.09-2.18s0-3.93-.06-7.71c-12.61,2.74-15.27-6.07-15.27-6.07-2.06-5.24-5-6.63-5-6.63C9.61,62.91,14,63,14,63c4.55.32,6.94,4.67,6.94,4.67,4,6.93,10.61,4.93,13.19,3.77A9.68,9.68,0,0,1,37,65.35C27,64.2,16.4,60.31,16.4,42.95a17.52,17.52,0,0,1,4.66-12.16c-.47-1.15-2-5.75.44-12,0,0,3.8-1.22,12.46,4.65a43,43,0,0,1,22.69,0c8.65-5.86,12.45-4.65,12.45-4.65,2.47,6.24.92,10.85.45,12a17.49,17.49,0,0,1,4.66,12.16c0,17.41-10.6,21.24-20.69,22.36,1.63,1.4,3.08,4.16,3.08,8.39,0,6.06-.06,10.95-.06,12.43,0,1.21.82,2.62,3.12,2.18A45.32,45.32,0,0,0,45.31,0Z")
script(src="/scripts/main.min.js")
