doctype html
html
  head
    title #{title} | etc.ovlb
    link(rel='stylesheet', href='/styles/main.css')

    meta(property="og:title" content="etc.ovlb")
    meta(property="og:type" content="website")
    meta(property="og:description" content="random ramblings")
    meta(property="og:image" content="https://etc.ovlb.net/img/etc-og-1.png")
    meta(property="og:site_name" content="etc.ovlb")

  body
    include header
    block content
