blockquote {
    border-left: $black-border--small;
    margin: $spacer 0 2*$spacer;
    padding: .5*$spacer 0 .5*$spacer $spacer;

    @media(min-width: breakpoint(medium)) {
        padding: $spacer .5*$spacer $spacer 2*$spacer;
    }

    & + p {
        text-indent: 0;
    }
}

.c-blockquote__source {
    display: block;
    font-style: normal;
    letter-spacing: .35px;
    margin-top: $spacer;

    & p {
        text-indent: 0;
    }
}
