.o-main-header {
    background: $background;
    border-bottom: 1px solid rgba($main, .2);
    padding: 2vmin 4vmin;
    position: fixed;
    top: 0;
    transition: box-shadow .2s cubic-bezier(0,.1,.3,1);
    width: 100%;
    z-index: 100;

    @media(min-width: breakpoint(medium)) {
        padding-left: 1.5*$spacer;
    }

    &--scrolled {
        box-shadow: map-get($box-shadow, lvl2);
    }
}
