img {
    max-width: 100%;
}

figure {
    margin: 0;
    padding: $spacer 0;
}

.o-media--half-width {
    width: 50%;
}

.c-media__caption {
    padding-top: $spacer;
}

figure + p {
    text-indent: 0;
}